# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:

Import the necessary libraries and create your dataframe(s).

In [549]:
# import the pandas library and use the alias 'pd', I am also importing seaborn matplot and numpy for visualizations
import pandas as pd

import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib
plt.style.use('ggplot')

from matplotlib.pyplot import figure

%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (12,8)

pd.options.mode.chained_assignment = None

# Create 3 new dataframes

NAICS = pd.read_csv('KS 2020-2021 NAICS Code.csv')
KS_tax = pd.read_csv('KS 2021 Sales Tax Revenue by County.csv')
national = pd.read_csv('selected-monthly-sales-tax-collections-data.csv')

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [550]:
#checking for pct of null values in columns
for col in NAICS.columns:
    pct_missing = np.mean(NAICS[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Unnamed: 0 - 70%
NAICS Code - 42%
 Locations  - 28%
Month of - 27%
Month of.1 - 27%
Percent - 31%
Fiscal Year 2021 - 27%
Fiscal Year 2022 - 27%
Percent.1 - 31%

--------------------------------------------*****KS TAX*****-------------------------------------------------------------------

In [551]:
#checking for pct of null values in columns
for col in KS_tax.columns:
    pct_missing = np.mean(KS_tax[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
    
# I will be dropping the unnamed column. It doesn't contribute to this data set

City/County - 1%
January 2021 - 1%
February 2021 - 1%
March 2021 - 1%
April 2021 - 1%
May 2021 - 1%
June 2021 - 1%
July 2021 - 1%
August 2021 - 1%
September 2021 - 1%
October 2021 - 1%
November 2021 - 1%
December 2021 - 1%
Unnamed: 13 - 100%
CY Total - 1%

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [552]:
national.describe() # using the describe I even though there are outliers in the Amount, I would like to keep them because I am looking for the highs and lows in this dataset. The months, state codes and years all follow standard conventions so I am leaving this data

               Year        Amount    FIPS State  Numeric Month
count  11781.000000  9.162000e+03  11781.000000   11781.000000
mean    2020.090909  2.826828e+08     28.960784       6.909091
std        0.792561  8.800411e+08     15.677501       3.306366
min     2019.000000 -2.174000e+08      1.000000       1.000000
25%     2019.000000  1.029016e+07     16.000000       4.000000
50%     2020.000000  4.892506e+07     29.000000       7.000000
75%     2021.000000  2.369788e+08     42.000000      10.000000
max     2021.000000  2.425489e+10     56.000000      12.000000

----------------------------------------**********NAICS*********---------------------------------------------------------------

In [553]:
NAICS.count() #comparing the column counts, there is a consistency with the NAICS Code column and the other column
#I plan on using this column as the main point of comparison

Unnamed: 0           46
NAICS Code           88
 Locations          110
Month of            111
Month of.1          111
Percent             106
Fiscal Year 2021    111
Fiscal Year 2022    111
Percent.1           106
dtype: int64

In [554]:
NAICS.head(10)

,Unnamed: 0,NAICS Code,Locations,Month of,Month of.1,Percent,Fiscal Year 2021,Fiscal Year 2022,Percent.1
0,NaN,NaN,NaN,November 2020,November 2021,Change,July - November 2020,July - November 2021,Change
1,"11 Agriculture, Forestry, Fishing and Hunting",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,111 Crop Production,10,"$4,745.95","$7,097.19",49.5%,"$25,549.22","$39,066.06",52.9%
3,NaN,112 Animal Production,11,"$6,351.24","$2,284.42",-64.0%,"$34,045.34","$31,309.63",-8.0%
4,NaN,115 Agriculture and Forestry Support Activities,6,"$10,419.29","$21,398.96",105.4%,"$87,421.06","$98,048.31",12.2%
5,2-digit Total,NaN,27,"$21,516.48","$30,780.57",43.1%,"$147,015.62","$168,424.00",14.6%
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,21 Mining,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,211 Oil and Gas Extraction,12,"$31,555.14","$66,510.45",110.8%,"$205,669.20","$349,345.34",69.9%
9,NaN,212 Mining (except Oil and Gas),11,"$61,189.13","$35,275.71",-42.3%,"$125,897.54","$129,174.06",2.6%

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [555]:
# Checking for duplicate rows
duplicate_rows_NAICS = NAICS[NAICS.duplicated()]
print("Number of duplicated rows: ", duplicate_rows_NAICS.shape)


duplicate_rows_NAICS # I am also calling this variable in order to verify as expected the duplicate rows are all for Supersector codes

Number of duplicated rows:  (20, 9)

,Unnamed: 0,NAICS Code,Locations,Month of,Month of.1,Percent,Fiscal Year 2021,Fiscal Year 2022,Percent.1
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [556]:
#getting rid of column and displaying the number of (rows,columns) after
NAICS_clean = NAICS.drop(['Unnamed: 0'], axis=1)
NAICS_clean.shape

(153, 8)

In [557]:
#showing that the Unnamed column is deleted
#I deleted it because it is a redudant header for the subsector data
NAICS_clean.head(10)

,NAICS Code,Locations,Month of,Month of.1,Percent,Fiscal Year 2021,Fiscal Year 2022,Percent.1
0,NaN,NaN,November 2020,November 2021,Change,July - November 2020,July - November 2021,Change
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,111 Crop Production,10,"$4,745.95","$7,097.19",49.5%,"$25,549.22","$39,066.06",52.9%
3,112 Animal Production,11,"$6,351.24","$2,284.42",-64.0%,"$34,045.34","$31,309.63",-8.0%
4,115 Agriculture and Forestry Support Activities,6,"$10,419.29","$21,398.96",105.4%,"$87,421.06","$98,048.31",12.2%
5,NaN,27,"$21,516.48","$30,780.57",43.1%,"$147,015.62","$168,424.00",14.6%
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,211 Oil and Gas Extraction,12,"$31,555.14","$66,510.45",110.8%,"$205,669.20","$349,345.34",69.9%
9,212 Mining (except Oil and Gas),11,"$61,189.13","$35,275.71",-42.3%,"$125,897.54","$129,174.06",2.6%

-----------------------------------------******KS Tax******--------------------------------------------------------------------

In [558]:
# Checking for duplicate rows
duplicate_rows_KS_tax = KS_tax[KS_tax.duplicated()]


duplicate_rows_KS_tax  #executing this to see the duplicate rows

#I plan on dropping the duplicate rows in this set

,City/County,January 2021,February 2021,March 2021,April 2021,May 2021,June 2021,July 2021,August 2021,September 2021,October 2021,November 2021,December 2021,Unnamed: 13,CY Total
408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [559]:
# I only want to drop the rows that are full of null values. I want to keep the ones that are partially null because they are subheaders

Clean_KS_tax= KS_tax.dropna(how='all')

Clean_KS_tax.head() #displaying it

,City/County,January 2021,February 2021,March 2021,April 2021,May 2021,June 2021,July 2021,August 2021,September 2021,October 2021,November 2021,December 2021,Unnamed: 13,CY Total
1,Allen County,"$179,656.95","$198,296.15","$198,852.35","$170,017.20","$220,698.15","$233,208.62","$207,534.60","$222,248.65","$245,825.97","$216,890.47","$164,501.77","$282,431.55",NaN,"$2,540,162.43"
2,Anderson County,"$99,419.17","$107,801.82","$92,757.01","$96,370.25","$122,369.53","$126,893.61","$114,436.59","$116,107.46","$122,823.17","$116,000.97","$109,329.40","$173,739.93",NaN,"$1,398,048.91"
3,Atchison County,"$185,101.29","$215,743.10","$205,204.58","$197,686.55","$221,956.34","$229,019.17","$211,991.30","$214,438.53","$228,991.91","$219,069.96","$191,141.28","$257,749.86",NaN,"$2,578,093.87"
4,Barber County,"$50,604.13","$52,913.17","$48,676.21","$51,192.55","$58,379.28","$62,516.17","$54,357.94","$53,762.62","$57,264.24","$55,271.06","$60,790.18","$81,992.53",NaN,"$687,720.08"
5,Barton County,"$367,322.15","$423,958.68","$392,671.82","$348,589.39","$447,790.31","$475,422.65","$426,024.48","$437,259.74","$434,690.56","$416,877.04","$422,853.79","$499,718.62",NaN,"$5,093,179.23"

------------------------------****************National************-------------------------------------------------------------

In [560]:
# Checking for duplicate rows in the national data
duplicate_rows_national = national[national.duplicated()]
print("Number of duplicated rows: ", duplicate_rows_national.shape)
#overall this data set is clean. When I did EDA I did not find a need to remove data

Number of duplicated rows:  (0, 7)

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

----------------------------------*************NAICS***************------------------------------------------------------------

In [561]:
#The NAICs data set has the most inconsistencies. The Unnamed column has two values, a supersector industry name and total
#This leads to multiple null values across the other rows. I am dropping them now

NAICS_clean = NAICS_clean.dropna(how='all')


NAICS_clean.head(10) #these are the results

,NAICS Code,Locations,Month of,Month of.1,Percent,Fiscal Year 2021,Fiscal Year 2022,Percent.1
0,NaN,NaN,November 2020,November 2021,Change,July - November 2020,July - November 2021,Change
2,111 Crop Production,10,"$4,745.95","$7,097.19",49.5%,"$25,549.22","$39,066.06",52.9%
3,112 Animal Production,11,"$6,351.24","$2,284.42",-64.0%,"$34,045.34","$31,309.63",-8.0%
4,115 Agriculture and Forestry Support Activities,6,"$10,419.29","$21,398.96",105.4%,"$87,421.06","$98,048.31",12.2%
5,NaN,27,"$21,516.48","$30,780.57",43.1%,"$147,015.62","$168,424.00",14.6%
8,211 Oil and Gas Extraction,12,"$31,555.14","$66,510.45",110.8%,"$205,669.20","$349,345.34",69.9%
9,212 Mining (except Oil and Gas),11,"$61,189.13","$35,275.71",-42.3%,"$125,897.54","$129,174.06",2.6%
10,213 Support Activities for Mining,27,"$36,683.35","$44,395.60",21.0%,"$234,012.01","$363,170.30",55.2%
11,NaN,50,"$129,427.62","$146,181.76",12.9%,"$565,578.75","$841,689.70",48.8%
14,221 Utilities,51,"$449,314.49","$382,656.47",-14.8%,"$3,277,746.58","$2,269,515.94",-30.8%

In [562]:
#For the remaining null values I am replacing them with header names depending on the column where they are located



NAICS_clean["NAICS Code"].fillna('Totals', inplace=True)

NAICS_clean[' Locations '].fillna('Codes', inplace=True) # I am replacing this null value with codes to be more descriptive


NAICS_clean.head(10) #displaying the final results of cleaned NAICS data

,NAICS Code,Locations,Month of,Month of.1,Percent,Fiscal Year 2021,Fiscal Year 2022,Percent.1
0,Totals,Codes,November 2020,November 2021,Change,July - November 2020,July - November 2021,Change
2,111 Crop Production,10,"$4,745.95","$7,097.19",49.5%,"$25,549.22","$39,066.06",52.9%
3,112 Animal Production,11,"$6,351.24","$2,284.42",-64.0%,"$34,045.34","$31,309.63",-8.0%
4,115 Agriculture and Forestry Support Activities,6,"$10,419.29","$21,398.96",105.4%,"$87,421.06","$98,048.31",12.2%
5,Totals,27,"$21,516.48","$30,780.57",43.1%,"$147,015.62","$168,424.00",14.6%
8,211 Oil and Gas Extraction,12,"$31,555.14","$66,510.45",110.8%,"$205,669.20","$349,345.34",69.9%
9,212 Mining (except Oil and Gas),11,"$61,189.13","$35,275.71",-42.3%,"$125,897.54","$129,174.06",2.6%
10,213 Support Activities for Mining,27,"$36,683.35","$44,395.60",21.0%,"$234,012.01","$363,170.30",55.2%
11,Totals,50,"$129,427.62","$146,181.76",12.9%,"$565,578.75","$841,689.70",48.8%
14,221 Utilities,51,"$449,314.49","$382,656.47",-14.8%,"$3,277,746.58","$2,269,515.94",-30.8%

In [563]:
#Row 0 is a subheader and I will combine these values with the column names

NAICS_clean = NAICS_clean.rename(columns={'NAICS Code': 'Industry_Names', 'Locations': 'Location_Codes', 
                            'Month of': 'November20', 'Month of.1': 'November21', 'Percent': 'FY21_Percent_Change',
                           'Fiscal Year 2021': 'FY21_July-Nov_20', 'Fiscal Year 2022': 'Fy22_July-November21',
                           'Percent.1': 'FY22_Percent_Change'})
NAICS_clean.head()

,Industry_Names,Locations,November20,November21,FY21_Percent_Change,FY21_July-Nov_20,Fy22_July-November21,FY22_Percent_Change
0,Totals,Codes,November 2020,November 2021,Change,July - November 2020,July - November 2021,Change
2,111 Crop Production,10,"$4,745.95","$7,097.19",49.5%,"$25,549.22","$39,066.06",52.9%
3,112 Animal Production,11,"$6,351.24","$2,284.42",-64.0%,"$34,045.34","$31,309.63",-8.0%
4,115 Agriculture and Forestry Support Activities,6,"$10,419.29","$21,398.96",105.4%,"$87,421.06","$98,048.31",12.2%
5,Totals,27,"$21,516.48","$30,780.57",43.1%,"$147,015.62","$168,424.00",14.6%

In [564]:
#Now that I have renamed the columns to be more descriptive, I am dropping the first row because it is redudant

NAICS_clean = NAICS_clean.drop(index=0) #drops the first row which has subheaders

NAICS_clean.head()

,Industry_Names,Locations,November20,November21,FY21_Percent_Change,FY21_July-Nov_20,Fy22_July-November21,FY22_Percent_Change
2,111 Crop Production,10,"$4,745.95","$7,097.19",49.5%,"$25,549.22","$39,066.06",52.9%
3,112 Animal Production,11,"$6,351.24","$2,284.42",-64.0%,"$34,045.34","$31,309.63",-8.0%
4,115 Agriculture and Forestry Support Activities,6,"$10,419.29","$21,398.96",105.4%,"$87,421.06","$98,048.31",12.2%
5,Totals,27,"$21,516.48","$30,780.57",43.1%,"$147,015.62","$168,424.00",14.6%
8,211 Oil and Gas Extraction,12,"$31,555.14","$66,510.45",110.8%,"$205,669.20","$349,345.34",69.9%

In [567]:
#One problem I am running into is that the $  and % characters are preventing me from running describe on all columns
# I need to remove this special character from the KS_Tax and NAICS Code sheets
# I am storing the previous sheets in a new variable so that I will not corrupt the orinal file

#1. Store special characters as a variable. I want to keep commas and periods

spec_chars = ['#','$','%','@','*']


Cleansed_NAICS = NAICS_clean # I don't want to corrupt the other variable


#2. Use print to show where the special characters are located and what they are

for char in spec_chars:
    Cleansed_NAICS['November20'] = Cleansed_NAICS['November20'].str.replace(char, '', regex=True)
    Cleansed_NAICS['November21'] = Cleansed_NAICS['November21'].str.replace(char, '', regex=True)
    Cleansed_NAICS['FY21_Percent_Change'] = Cleansed_NAICS['FY21_Percent_Change'].str.replace(char, '', regex=True)
    Cleansed_NAICS['FY21_July-Nov_20'] = Cleansed_NAICS['FY21_July-Nov_20'].str.replace(char, '', regex=True)
    Cleansed_NAICS['Fy22_July-November21'] = Cleansed_NAICS['Fy22_July-November21'].str.replace(char, '', regex=True)
    Cleansed_NAICS['FY22_Percent_Change'] = Cleansed_NAICS['FY22_Percent_Change'].str.replace(char, '', regex=True)


Cleansed_NAICS.head()


#there is a warning that regex will default to false in future versions so I explicitly defined it: regex=True

,Industry_Names,Locations,November20,November21,FY21_Percent_Change,FY21_July-Nov_20,Fy22_July-November21,FY22_Percent_Change
2,Crop Production,10,"4,745.95","7,097.19",49.5,"25,549.22","39,066.06",52.9
3,Animal Production,11,"6,351.24","2,284.42",-64.0,"34,045.34","31,309.63",-8.0
4,Agriculture and Forestry Support Activities,6,"10,419.29","21,398.96",105.4,"87,421.06","98,048.31",12.2
5,Totals,27,"21,516.48","30,780.57",43.1,"147,015.62","168,424.00",14.6
8,Oil and Gas Extraction,12,"31,555.14","66,510.45",110.8,"205,669.20","349,345.34",69.9

In [ ]:
# I also want to remvoe the industry code numbers from the Industry Names

num_chars = ['0','1','2','3','4','5','6','7','8','9']

for char in num_chars:
     Cleansed_NAICS['Industry_Names'] = Cleansed_NAICS['Industry_Names'].str.replace(char, '', regex=True)
        

        
Cleansed_NAICS.head()

# I ran this  separatly because the other columns contain numbers that I would like to keep

------------------------------------------------------------------------------------------------------------------------------

---------------------------------------------------***KS Tax**-----------------------------------------------------------------

In [569]:
#KS_Tax has % in multiple rows which need to be removed in order to run calculations

Cleansed_KS_Tax = Clean_KS_tax
Cleansed_KS_Tax.head()

,City/County,January 2021,February 2021,March 2021,April 2021,May 2021,June 2021,July 2021,August 2021,September 2021,October 2021,November 2021,December 2021,Unnamed: 13,CY Total
1,Allen County,"$179,656.95","$198,296.15","$198,852.35","$170,017.20","$220,698.15","$233,208.62","$207,534.60","$222,248.65","$245,825.97","$216,890.47","$164,501.77","$282,431.55",NaN,"$2,540,162.43"
2,Anderson County,"$99,419.17","$107,801.82","$92,757.01","$96,370.25","$122,369.53","$126,893.61","$114,436.59","$116,107.46","$122,823.17","$116,000.97","$109,329.40","$173,739.93",NaN,"$1,398,048.91"
3,Atchison County,"$185,101.29","$215,743.10","$205,204.58","$197,686.55","$221,956.34","$229,019.17","$211,991.30","$214,438.53","$228,991.91","$219,069.96","$191,141.28","$257,749.86",NaN,"$2,578,093.87"
4,Barber County,"$50,604.13","$52,913.17","$48,676.21","$51,192.55","$58,379.28","$62,516.17","$54,357.94","$53,762.62","$57,264.24","$55,271.06","$60,790.18","$81,992.53",NaN,"$687,720.08"
5,Barton County,"$367,322.15","$423,958.68","$392,671.82","$348,589.39","$447,790.31","$475,422.65","$426,024.48","$437,259.74","$434,690.56","$416,877.04","$422,853.79","$499,718.62",NaN,"$5,093,179.23"

In [572]:
# I am repeating the same steps as with NAICS

spec_chars = ['#','$','%','@','*']

for char in spec_chars:
    Cleansed_KS_Tax['January 2021'] = Cleansed_KS_Tax['January 2021'].str.replace(char, '', regex=True)
    Cleansed_KS_Tax['February 2021'] = Cleansed_KS_Tax['February 2021'].str.replace(char, '', regex=True)
    Cleansed_KS_Tax['March 2021'] = Cleansed_KS_Tax['March 2021'].str.replace(char, '', regex=True)
    Cleansed_KS_Tax['April 2021'] = Cleansed_KS_Tax['April 2021'].str.replace(char, '', regex=True)
    Cleansed_KS_Tax['May 2021'] = Cleansed_KS_Tax['May 2021'].str.replace(char, '', regex=True)
    Cleansed_KS_Tax['June 2021'] = Cleansed_KS_Tax['June 2021'].str.replace(char, '', regex=True)
    Cleansed_KS_Tax['July 2021'] = Cleansed_KS_Tax['July 2021'].str.replace(char, '', regex=True)
    Cleansed_KS_Tax['August 2021'] = Cleansed_KS_Tax['August 2021'].str.replace(char, '', regex=True)
    Cleansed_KS_Tax['September 2021'] = Cleansed_KS_Tax['September 2021'].str.replace(char, '', regex=True)
    Cleansed_KS_Tax['October 2021'] = Cleansed_KS_Tax['October 2021'].str.replace(char, '', regex=True)
    Cleansed_KS_Tax['November 2021'] = Cleansed_KS_Tax['November 2021'].str.replace(char, '', regex=True)
    Cleansed_KS_Tax['December 2021'] = Cleansed_KS_Tax['December 2021'].str.replace(char, '', regex=True)
    Cleansed_KS_Tax['CY Total'] = Cleansed_KS_Tax['CY Total'].str.replace(char, '', regex=True)


Cleansed_KS_Tax.head()

,City/County,January 2021,February 2021,March 2021,April 2021,May 2021,June 2021,July 2021,August 2021,September 2021,October 2021,November 2021,December 2021,Unnamed: 13,CY Total
1,Allen County,"179,656.95","198,296.15","198,852.35","170,017.20","220,698.15","233,208.62","207,534.60","222,248.65","245,825.97","216,890.47","164,501.77","282,431.55",NaN,"2,540,162.43"
2,Anderson County,"99,419.17","107,801.82","92,757.01","96,370.25","122,369.53","126,893.61","114,436.59","116,107.46","122,823.17","116,000.97","109,329.40","173,739.93",NaN,"1,398,048.91"
3,Atchison County,"185,101.29","215,743.10","205,204.58","197,686.55","221,956.34","229,019.17","211,991.30","214,438.53","228,991.91","219,069.96","191,141.28","257,749.86",NaN,"2,578,093.87"
4,Barber County,"50,604.13","52,913.17","48,676.21","51,192.55","58,379.28","62,516.17","54,357.94","53,762.62","57,264.24","55,271.06","60,790.18","81,992.53",NaN,"687,720.08"
5,Barton County,"367,322.15","423,958.68","392,671.82","348,589.39","447,790.31","475,422.65","426,024.48","437,259.74","434,690.56","416,877.04","422,853.79","499,718.62",NaN,"5,093,179.23"

In [492]:
#I would like to extract these dataframes into CSV files in order to use them in Tableau and in data modeling


# I am pointing the files to the location I'd like it to save. 
#I have to prefix the filepath with 'r' to produce a raw string because C: \Users so pandas cannot read it
# added encoding to keep it from producing an encording error

NAICS_clean.to_csv(r'C:\Users\goine\OneDrive\Desktop\Launch Code\checkpoint-five\NAICS_cleaned.csv', encoding = 'utf-8')
Clean_KS_tax.to_csv(r'C:\Users\goine\OneDrive\Desktop\Launch Code\checkpoint-five\Clean_KS_tax.csv', encoding = 'utf-8')


# if changes are made to the dataframes that have been converted, then the file is updated after this is run
# a change as to be made in the other linked notebook in order to reflect the change as been pushed to github

-------------------------------------------------------------------------------------------------------------------------------

-------------------------Unsuccessful Attempt Saving incase it can be of use in the future-------------------------------------

In [493]:
test = NAICS
test.head()

,Unnamed: 0,NAICS Code,Locations,Month of,Month of.1,Percent,Fiscal Year 2021,Fiscal Year 2022,Percent.1
0,NaN,NaN,NaN,November 2020,November 2021,Change,July - November 2020,July - November 2021,Change
1,"11 Agriculture, Forestry, Fishing and Hunting",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,111 Crop Production,10,"$4,745.95","$7,097.19",49.5%,"$25,549.22","$39,066.06",52.9%
3,NaN,112 Animal Production,11,"$6,351.24","$2,284.42",-64.0%,"$34,045.34","$31,309.63",-8.0%
4,NaN,115 Agriculture and Forestry Support Activities,6,"$10,419.29","$21,398.96",105.4%,"$87,421.06","$98,048.31",12.2%

In [494]:
test = NAICS
# test.head(6)
for index, row in test.iterrows():
      if pd.isnull((row['NAICS Code'])):
         row['NAICS Code']=row['Unnamed: 0']
      else:
          pass
#This is an iteration I was testing to see if I could replace the null values in the NAICS code column with the supersector names in the Unnamed: 0 column
#In the end dropping them without copying the data was

In [573]:
test.head(6)

,Unnamed: 0,NAICS Code,Locations,Month of,Month of.1,Percent,Fiscal Year 2021,Fiscal Year 2022,Percent.1
0,NaN,NaN,NaN,November 2020,November 2021,Change,July - November 2020,July - November 2021,Change
1,"11 Agriculture, Forestry, Fishing and Hunting","11 Agriculture, Forestry, Fishing and Hunting",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,111 Crop Production,10,"$4,745.95","$7,097.19",49.5%,"$25,549.22","$39,066.06",52.9%
3,NaN,112 Animal Production,11,"$6,351.24","$2,284.42",-64.0%,"$34,045.34","$31,309.63",-8.0%
4,NaN,115 Agriculture and Forestry Support Activities,6,"$10,419.29","$21,398.96",105.4%,"$87,421.06","$98,048.31",12.2%
5,2-digit Total,2-digit Total,27,"$21,516.48","$30,780.57",43.1%,"$147,015.62","$168,424.00",14.6%

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
2. Did the process of cleaning your data give you new insights into your dataset?
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?

NAICS - even though the null values are intentional because they are either industry headers or totals of those industries, for the purposes of this exercise I will drop the null values because I am drilling down into specific data. I am looking at the data as a tool to  describe the relationship between behavior expressed as policy and the industry through examining the financial incentives aimed at policy makers. The Unnamed column is redundant. It is the group header for the second column and the 2-digit total is also redundant. It is the sum of the previous values. I can calculate this if needed for a higher level analysis. There is a lot of missing data due to the inconsistencies with the formatting I dropped. 


KS_tax  - There a lot of null values in the unnmaed column and row that I will drop

national data -  looks clean no need to delete anything

2.

Cleaning the data has helped me to better interpret the data. I understand some of the extra spacing is for subheadings. I am also able to determine which data is relevant. This process has helped me to refine my search process within the data in order to narrow it down to data that answers my question. 

3. 

When manipulating data one challenge I will face is that the column names are unique to each data set so this will influnence how I join the data. With regards to visualizations I should narrow my focus to a particular sector, or use a visualization that shows that particular sector relative to the overall profit and tax revenue. It might be best to work on something interactive to show the names of the sector and demonstrate where they fall in terms of tax revenue generated. A bubble is one type of visualization I can use, or even a heat map. Location has a narrow enough scope, but I may need to narrow the focus of the profit and tax revenue even further in order to avoid a false overgeneralization.